.u-steps .u-steps__item{
	font-size: 15rpx!important;
}

.u-steps__item--column{
	min-height: 44rpx!important;
	padding-left: 16.5rpx;
}

.u-steps__item__dot{
	width: 5.5rpx!important;
	height: 5.5rpx!important;
}

.u-steps .u-steps__item--column .u-steps__item__line--dot{
	left: calc(5.5rpx / 2)!important;
	padding-left: 16.5rpx;
}

.u-tips{
	font-size: 15rpx!important;
	padding: 8rpx 10rpx!important;
}